# Тимчасові файли Flutter та Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Налаштування середовища (IDE)
.idea/
.vscode/
*.iml

# Файли операційних систем
.DS_Store
Thumbs.db

# Логи та тимчасові дані
*.log